<!-- <h1>
  Lay ra gia tri tu input qua button
</h1>
<input type="text" #txt>

<button (click)="laygt(txt)">
  Lay gia tri
</button>
<br>
<br>
<input disabled={{a}} type="text">

<input [disabled]=a type="text">
<br>
<br> -->
<!-- <h1 *ngIf="ifdung && ifvandung ; then a" >
  dung
</h1>
<h5 #a>
  if dung
</h5>

<h5 #dung>
  if sai
</h5> -->

<!-- switch case -->
<!-- <h1 >
  switch case
</h1>
<div [ngSwitch]="a">

  <h2 *ngSwitchCase="'a'">
    do
  </h2>
  <h2 *ngSwitchCase="'b'">
    xanh
  </h2>
</div> -->

<!-- for -->
<!-- <div  *ngFor="let item of a">
  <h1>{{item.name}}, {{item.age}}</h1>
</div> -->

<!-- form -->
<!-- <form #user="ngForm" >

</form> -->
<h1 [style.color]="'red'">
  aaaaaaaaaaaaaaaaaa
</h1>
<h1 [style.color]="a ? 'red' : 'blue'">
  aaaaaaaaaaaaaaaaaa
</h1>
<button (click)="doimau()">
nhap
</button>

